.bg {
  background-color: black;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0rem 2rem;
  align-items: center;
}

.nav {
  padding: 0px;
  list-style: none;
  display: flex;
  gap: 3rem;
}
.nav > li {
  font-size: larger;
}

.bg {
  background-color: black;
  color: white;
}

.nav-right {
  display: flex;
  align-items: center;
}

.icons {
  margin: 0rem 1rem;
}
.icons > span {
  margin: 0rem 1rem;
  font-size: large;
}

.sub-btn {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
