.bg {
  background-color: black;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0rem 2rem;
}

.nav {
  padding: 0px;
  list-style: none;
  display: flex;
  gap: 3rem;
}

.bg {
  background-color: black;
  color: white;
}
