.top-section {
  background-color: black;
  color: lightgray;
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  height: 50px;
}
.text {
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
}
