main {
  margin: 2rem 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.row {
  display: flex;
  gap: 2rem;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.main-card-img {
  height: 70vh;
  width: 750px;
}

h2 {
  color: blueviolet;
  font-weight: 600;
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  font-weight: bolder;
  font-size: 3rem;
  margin: 0px;
}

.col {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.para {
  font-size: x-large;
  color: gray;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}
.author-info {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.author-info > p {
  margin: 0px;
}
.author-info > div > p {
  margin: 0px;
}

.author-logo {
  height: 50px;
  margin-top: 10px;
}

.author-name {
  font-size: large;
  font-weight: bold;
}

.date-read {
  color: gray;
}

hr {
  margin: 2rem 0rem;
}
