:root {
  --bg-color: dimgray;
  --border-color: dimgray;
}

body {
  padding: 1rem 5rem;
}

#title {
  background-color: var(--bg-color);
  text-align: center;
  padding: 1.5rem 0rem;
  color: white;
}
#post-title {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 1.5rem 0rem;
  color: black;
  font-weight: 600;
}
#post-preview {
  border: 1px solid var(--border-color);

  padding: 1.5rem 1rem;
  color: black;
  font-weight: 500;
  font-size: larger;
}

.nav {
  background-color: gray;
  text-align: center;
  padding: 0.5rem 0rem;
  font-weight: 200;
}

.link {
  text-decoration: none;
  color: white;
}
.nav-group-item {
  display: inline;
  margin-left: 2rem;
  margin-right: 2rem;
  list-style: none;
}
.nav-group {
  padding: 0;
}

.nav-group-item:hover {
  text-decoration: underline;
  color: white;
}

.post-container {
  border: 1px solid var(--border-color);
  padding: 1rem 0rem;
}

.posts {
  list-style: none;

  padding: 0rem 1rem;
}
